$brand-color-primary: #fb5383; // 主品牌色
$brand-color-success: #52c41a; // 成功色
$brand-color-warning: #faad14; // 警告色
$brand-color-error: #f5222d;   // 错误色
$brand-color-link: #1890ff;    // 链接色

$color-icon:#222222;       //图标默认颜色
$color-title: #18191c;     // 标题色
$color-text: #61666d;      // 正文色
$color-text-secondary: #9499a0; // 辅助文字
$color-disabled: rgba(0, 0, 0, 0.25);  // 禁用色
$color-border: rgba(0, 0, 0, 0.15);    // 边框色
$color-divider: #E3E5E7;   // 分割线颜色
$color-background: #f1f2f3;            // 背景色
